*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color:#fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.5);
}

.container .left{
    position: relative;
    background: #003147;
    padding: 40px;
    color: #fff;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px rgba(255, 255, 255, 0.2)
}
.profileText .imgBx{
   position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
.profileText .imgBx img {
    position: absolute;
    top: 50%; 
    left: 50%; 
    width: auto; 
    height: 100%; 
    min-width: 100%; 
    transform: translate(-50%, -50%); 
    object-fit: cover; 
}
.profileText h3 {
    font-size: 19px;
    text-align: center;
    margin-top: 10px;
}
.profileText h3 span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 80px; 
}
.profileText{
    margin-bottom: 30px; 
}
.contactInfo {
    margin-bottom: 50px; 
}
.contactInfo.Education {
    margin-bottom: 50px; 
}


.contactInfo.skills {
    margin-bottom: 50px; 
}
.contactInfo.title{
    
    text-transform: capitalize;
    margin-bottom: 40px;
}
.contactInfo ul{
    position: relative;
    
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 15px;
    color: #03a9f4;
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300;

}
.contactInfo.Education li{
    margin-bottom: 15px;
}
.contactInfo.Education h5{
    color: #03a9f4;
    font-weight: 500;

}
.contactInfo.Education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}
.contactInfo.Education h4{
    color: #fff;
    font-weight: 300;
}
.contactInfo.skills {
    /* padding: 20px; */
    margin-bottom: 20px;
}

.contactInfo.skills .title {
    font-size: 24px; 
    font-weight: 700; 
    text-transform: uppercase; 
    color: #fff;  
    margin-bottom: 15px;
}

.contactInfo.skills ul {
    list-style: none; 
    padding: 0;  
    margin: 0;  
}

.contactInfo.skills li {
    font-size: 18px; 
    padding: 8px 0; 
    color: #03a9f4; 
    border-bottom: 1px ; 
}

.contactInfo.skills li:last-child {
    border-bottom: none; 
}
.languages {
    margin-top: 20px;
}

.languages .title {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.languages ul {
    list-style-type: none;
    padding-left: 0;
}

.languages li {
    font-size: 18px;
    color:#fff; 
    margin-bottom: 25px;
}

.languages li .text {
    font-weight: normal;
}



.container .right{
    position: relative;
    background-color: #fff;
    padding: 40px;
}
.about{
    margin: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
/* .title{
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
} */

.title2{
    color: #333;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.work{
    margin: 50px;
}
.refer{
    margin: 50px;
}

.project{
    margin: 20px;
}
.project ul li{
    margin: 10px;

}

.refer .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.refer .box .ref1{
    min-width: 300px;
}